<div class="container-fluid">
    <a class="navbar-brand" href="/">WebCoffe</a>
    <img src="/Images/imageLogo.png" class="image" alt="Imagem de Café" />
</div>


<div class="nav-scrollable">
    <nav class="flex-row">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                 Receitas
            </NavLink>
        </div>
    </nav>
</div>
