.nav-item[b-2hq0o6cqgo] {
    font-size: 1rem;
}

.navbar-brand[b-2hq0o6cqgo]{
    color: #ffffff;
}

.nav-item[b-2hq0o6cqgo]  .nav-link {
    color: white;
    background: none;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item[b-2hq0o6cqgo]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-2hq0o6cqgo]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
}

.image[b-2hq0o6cqgo]{
    width: 30px;
    height: 30px;
}

.container-fluid[b-2hq0o6cqgo]{
display: flex;
}
