@page "/receita/edit/cha"
@using WebCoffe.Models
@using WebCoffe.Services.Interfaces
@inject IReceitaService ReceitaService
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<h3 class="text-center" style="color: #1B1A1F">Editar Receita do Chá</h3>

<div class="container">
    <EditForm Model="@this" OnSubmit="HandleValidSubmit" FormName="edit" class="form-container rounded-left">
        <DataAnnotationsValidator />
        <ValidationSummary class="alert alert-danger" />

        <div class="mb-3">
            <label for="tipoFolha" class="form-label">Tipo de Folha</label>
            <InputText id="tipoFolha" @bind-Value="TipoFolha"
                       class="form-control form-control-sm" placeholder="Digite o tipo de folha" />
        </div>

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <InputText id="nome" @bind-Value="Nome"
                       class="form-control form-control-sm" placeholder="Digite o nome" />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <InputText id="descricao" @bind-Value="Descricao"
                       class="form-control form-control-sm" placeholder="Digite a descrição" />
        </div>

        <div class="mb-3">
            <label for="tempoPreparo" class="form-label">Tempo de Preparo</label>
            <InputText id="tempoPreparo" @bind-Value="TempoPreparoString"
                       class="form-control form-control-sm" placeholder="Digite o tempo de preparo" />
        </div>

        <button type="submit" class="btn w-100 mb-2"
                style="background-color: #FFE247; color: #1B1A1F; text-decoration: none">
            Salvar
        </button>

        <a class="btn w-100 border-0" href="/"
           style="background-color: #EBDB85; color: #1B1A1F;text-decoration: none">
            Voltar
        </a>
    </EditForm>

    <div class="imageContainer">
        <img src="/Images/teaImage.png" class="image" alt="Imagem de Chá" />
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        padding: 0;
        height: 500px;
        max-width: 800px;
    }
    .form-container {
        padding: 15px;
        width: 65%;
        height: 100%;
        background-color: #FFF7E0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .imageContainer {
        width: 35%;
        height: 100%;
    }

    .image {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .form-control-sm {
        font-size: 0.875rem;
        padding: 0.5rem;
    }
</style>

@code {
    private Cha receita = new();

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public string Nome { get; set; }

    [SupplyParameterFromForm]
    public string Descricao { get; set; }

    [SupplyParameterFromForm]
    public string TempoPreparoString { get; set; } = "00:00:00";

    [SupplyParameterFromForm]
    public string TipoFolha { get; set; }

    protected override async Task OnInitializedAsync()
    {
        receita = (Cha)await ReceitaService.GetReceitaByIdAsync(Id);
        if (receita is null)
        {
            Navigation.NavigateTo("notfound");
        }
        else
        {
            Nome = receita.Nome;
            Descricao = receita.Descricao;
            TempoPreparoString = receita.TempoPreparo.ToString(@"hh\:mm\:ss");
            TipoFolha = receita.TipoFolha;
        }
    }

    private async Task HandleValidSubmit()
    {
        receita.Nome = Nome;
        receita.Descricao = Descricao;
        receita.TempoPreparo = TimeSpan.Parse(TempoPreparoString);
        receita.TipoFolha = TipoFolha;

        await ReceitaService.UpdateReceitaAsync(receita);
        Navigation.NavigateTo("/");
    }
}
